apiVersion: ember-csi.io/v1alpha1
kind: EmberCSI
metadata:
  name: example
spec:
  config:
    envVars:
      X_CSI_BACKEND_CONFIG:
        chap: disabled
        connection_type: iscsi
        driver: IBMStorage
        enable_unsupported_driver: false
        management_ips: ''
        name: ''
        proxy: cinder.volume.drivers.ibm.ibm_storage.proxy.IBMStorageProxy
      X_CSI_DEBUG_MODE: ''
      X_CSI_DEFAULT_MOUNT_FS: ext4
      X_CSI_EMBER_CONFIG:
        debug: false
        disable_logs: false
        disabled: []
        enable_probe: false
        grpc_workers: 30
        plugin_name: ''
        project_id: ember_csi.io
        slow_operations: true
        user_id: ember_csi.io
      X_CSI_PERSISTENCE_CONFIG:
        storage: crd
    sysFiles:
      name: ''
